/* wireframe style */
div, span, ul, li {
    border: 1px solid #aaf;
    background-color: rgba(0,0,0,.10);
}

#container {
    margin: .5em;
    min-width: 17em;
}

#headerArea {
    margin: 0 0 .5em 0;
}

*[class*='task-']{
    float: left;
}

.task-parent{
    clear: left;
    width: 100%;
}

.current-tasklist{
    float:left;
}

.clear-float {
    clear: both;
}


#logo {
    height: 5em;
    margin: 0 0 .5em 0;
}

#login {
    height: 4em;
}

.toDoList {
    margin: 0 0 .5em 0;
}

.toDoHeader{
    height: 3em;
    margin: 0 0 .5em;
}

.task-parent {
    margin: 0 0 .5em 0;
}
.task-info {
    height: 3em;
    display: inline-block;
    margin: .25em 2%;
    width: 80%;
}
.task-done {
    height: 3em;
    width: 14%;
    display: inline-block;
    margin: .25em 0;
}

.task-new {
    height: 4em;
    width:100%;
}
