/* wireframe style */

#container {
    margin: .5em;
    min-width: 20em;
    font-family: sans-serif;
}

#headerArea {
    margin: 0 0 .5em 0;
}


*[class*='task-']{
    float: left;
    color: #fff;
    background-color: #2af;
}

.task-parent{
    clear: left;
    width: 100%;
}

.current-tasklist{
    float:left;
    background-color: #
}

.clear-float {
    clear: both;
}


#logo {
    height: 5em;
    margin: 0 0 .5em 0;
    font-weight: bold;
    color: #2af;
    border-bottom: 2px #2af solid;
}
#logo h1 {
    font-size:3em;
}
#logo h2 {
    margin: 0 0 0 .5em;
}

#login {
    height: auto;
    border-bottom: 2px #2af solid;
    text-align: right;
    padding: 0 0 .5em 0;
}

.field-input, .field-input label, .field-input input {
    float: left;
}
.field-input{
    width : 100%;
    display: table-cell;
    vertical-align: middle;
}
.field-input label {
    width: 30%;
    margin: .5em;
}
.field-input input {
    width: 64%;
}

.toDoList {
    margin: 0 0 .5em 0;
}

.task-header{
    height: 3em;
    margin: 0 0 .5em;
    width: 100%;
}

.task-parent {
    margin: 0 0 .5em 0;
}
.task-info {
    height: 3em;
    display: inline-block;
    margin: .25em 2%;
    width: 80%;
}
.task-done {
    height: 3em;
    width: 14%;
    display: inline-block;
    margin: .25em 0;
}

.task-new {
    height: 4em;
    width:100%;
}
