/*desktop wireframe*/
div {
    border: 1px solid #f60;
}

#container {
    max-width: 45em;
    margin: auto;
    padding: 1em;
}

#headerArea {
    width: 65%;
    height: 9em;
    display: inline-block;
}

#login {
    width: 30%;/* WHERE THE HELL DID 17 PIXELS COME FROM, BORDERS!?*/
    height: 9em;
    display: inline-block;
    margin: 0 0 1em 1em;
}

.newToDo {
    height: 7em;
    margin: 0 0 1em 0;
}

.toDoList {
    margin: 0 0 1em 0;
}

.toDoItem {
    width: 80%;
    margin: .5em auto;
}
.taskInfo {
    height: 4em;
    display: inline-block;
    width: 85%;
}
.taskDone {
    display: inline-block;
    width: 7.5%;
    height: 4em;
    margin: 0 0 0 1em;
}
