#container {
    max-width: 45em;
    margin: auto;
    padding: 1em;
}

#headerArea {}

#logo {
    width: 20em; /*fixed fot logo?*/
    height: 9em;
    display: inline-block;
    float: left;
}

#login {
    /*width: ;/* WHERE THE HELL DID 17 PIXELS COME FROM, BORDERS!?*/
    height: 9em;
    display: inline-block;
    margin: 0 0 1em 1em;
    text-align:center;
    clear: both;
}

.newToDo {
    height: 7em;
    margin: 0 0 1em 0;
}

.toDoList {
    margin: 0 0 1em 0;
}

.toDoItem {
    width: 80%;
    margin: .5em auto;
}
.taskInfo {
    height: 4em;
    display: inline-block;
    width: 85%;
}
.taskDone {
    display: inline-block;
    width: 7.5%;
    height: 4em;
    margin: 0 0 0 1em;
}
