@media (min-width:30em) {
    #container {
        max-width: 40em;
        margin: auto;
        padding: 1em;
    }

    #logo {
        width: 60%; /*fixed sized "large" logo?*/
        height: 6em; /*this will be auto when there is a logo*/
        float: left;
        margin:0;
    }

    #login {
        height: 6em;
        width: 38%; 
        float:left;
        margin: 0 0 0 1%;
    }

    .current-tasklist {
        margin: 0 0 1em 0;
    }

    .toDoHeader {
        height: 4em;
        margin: 0 0 .5em 0;
    }

    .task-parent {
        margin: .5em auto;
    }

    .task-info {
        height: 4em;
        width: 82%;
        margin: .5em 2%;
    }
    
    .task-done {
        width: 12%;
        height: 4em;
        margin: .5em 0;
    }

    .task-new {
        height: 4em;
        margin: 0 0 1em 0;
        width: 100%;
        margin: .5em auto 1em auto;
    }
}
