#container {
    margin: .5em;
    min-width: 17em;
}

#headerArea {
    margin: 0 0 .5em 0;
}

#logo {
    height: 5em;
    margin: 0 0 .5em 0;
}

#login {
    height: 4em;
}

.toDoList {
    margin: 0 0 .5em 0;
}

.toDoHeader{
    height: 3em;
    margin: 0 0 .5em;
}

.toDoItem {
    clear: both;
    margin: 0 0 .5em 0;
}
.taskInfo {
    height: 3em;
    display: inline-block;
    margin: .25em;
    width: 80%;
}
.taskDone {
    height: 3em;
    width: 14%;
    float: right;
    display: inline-block;
    margin: .25em;
}

.newToDo {
    height: 4em;
}

