@import url("small.css");
@import url("large.css") (min-width: 34em);

*, *:before, *:after{
    box-sizing : border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.right {
    float: right;
}
.floatContain {
    clear: both;
}

div, span, ul, li {
    border: 1px solid #aaf;
    background-color: rgba(0,0,0,.10);
}
